.feed {
  flex: 0.7;
  margin: 0px 20px;
  padding-top: 10px;
}
.feedContainer {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  min-height: 50%;
  display: flex;
  flex-direction: column;
}

.notif {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  background-color: rgba(245, 245, 245, 0.486);
  
}
.new
{
  background-color: rgba(112,181,249,0.3);
}
.image {
  width: 70px !important;
  height: 70px !important;
  margin-right: max(20px, 5%);
  padding: 10px;
}

.info > h3 {
  font-weight: 300;
  color: gray;
  cursor: pointer;
}
.info>h3>.name:hover
{
  font-weight: 500;
  text-decoration: underline;
}
.info {
  display: flex;
  flex:0.9;
  flex-direction: column;
  align-items: flex-start;
}

