.head{
    background-color: white;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    border: 1px solid gray;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    z-index: 1;
    top: 0px;
    overflow: hidden;
    
    box-sizing: border-box; 
    background-image: url(/src/Components/Presentation/src/components/Home/welcome/img/background.svg);
}
