.s1{
    width: 100%;
  height: fit-content;
  background-image: linear-gradient(217deg, rgba(255,255,255,.2), rgba(255,255,255,0) 70.71%),
            linear-gradient(127deg, rgba(255,255,255,.2), rgba(255,255,255,0) 70.71%),
            linear-gradient(336deg, rgba(149,226,255,.8), rgba(149,226,255,0) 70.71%),
                  url("img/banner-bg.jpg");
    background-position: inherit!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    
}
.s10{
  margin-top: 60px;
}
.dlgflex{
    width: fit-content;
    margin: 0 auto; margin-top: 25px;
    margin-bottom: 20px;
} 

.s10 > h1 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-top: -20px;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  .s10 > h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  .s10 > h5 {
    color: rgba(47, 33, 75, 0.8);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  .backbg{
    width: 460px;
    height: 360px; 
    position:absolute; 
    z-index: 1;
  }
  .dlgflex > .btngetstarted {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: rgb(47, 33, 75);
  }
  
  .dlgflex > .btngetstarted:hover {
    background: rgb(26, 201, 228);
  }
  
  .dlgflex > .btnwatchvideo {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0 8px 40px; 
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    position: relative;
  }
  
  .svg-inline--fa {
    color: #fff;
    font-size: 32px;
    position: absolute;
    left: 0;
    top: 7px;
    transition: 0.3s;
  }
  
  .dlgflex > .btnwatchvideo:hover i {
    color: #47b2e4;
  }
  
  
  
  .s10 > .hero-img img {
    height: 718px;
    width: 560px;
    margin: 0;
    right: 0;
    overflow: hidden;
  }
  
  .gtcofeature > {
    margin-top: 30px;
  }
.card{
    margin-left: 90px;
    height: 360px;
    width: fit-content;
    margin-top: 70px;
}
  .gtcofeature > .card > svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .gtcofeature > .card > svg.defs {
    position: absolute;
    width: 0;
    height: 0;
  }
  .gtcofeature > .card > .squircle {
    width: 100%;
    height: 450px;
    
    clip-path: url(#clip-path);
    background-position-x: -50px;
  }
  .gtcofeature > p > small {
    font-size: 16px;
  }
  .gtcofeature > a {
    margin-top: 20px;
    display: inline-block;
  }
  
  .gtcofeature > s {
    margin-top: 100px;
  }
  .gtcofeature > s > svg {
    position: absolute;
    margin-left: -100px;
    margin-top: 100px;
  }
  @media (max-width: 991px) {
    .s10 > {
      height: 100vh;
      text-align: center;
    }
    .s10 > .animated {
      -webkit-animation: none;
      animation: none;
    }
    .s10 > .hero-img {
      text-align: center;
    }
    .s10 > .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .s10 > h1 {
      font-size: 28px;
      line-height: 36px;
    }
    .s10 > h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    .s10 > .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    .s10 > .hero-img img {
      width: 80%;
    }
    .s10 > .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
    .s10 > .btn-watch-video {
      font-size: 16px;
      padding: 10px 0 8px 40px;
      margin-left: 20px;
    }
    .s10 > .btn-watch-video i {
      font-size: 32px;
      top: 7px;
    }
  }


