.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow-y: scroll !important;
  flex: 0.22;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  padding-top: 10px;
  padding-left: 4px;
  min-width: 250px;
}
.sidebar_avatar {
  margin-bottom: 10px;
}
.sidebar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}
.sidebar_top > img {
  margin-bottom: -30px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.sidebar_top > h5 {
  color: gray;
  font-weight: 300;
}
.sidebar_stats {
  background-color: white;
  border: 1px solid lightgray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sidebar_stat {
  padding-left: max(15px, 5%);
  padding-right: max(15px, 5%);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.sidebar_stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}
.sidebar_statNumber {
  font-weight: bold !important;
  color: gray;
  cursor: pointer;
}
.sidebar_statNumber:hover {
  color: #0a66c2;
}
.sidebar_bottom {
  text-align: left;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid lightgray;
}
.sidebar_recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding-left: max(10px, 5%);
}
.sidebar_recentItem:hover {
  color: #0a66c2 !important;
}
.sidebar_bottom > p {
  font-size: 13px;
  padding-bottom: 10px;
}
.sidebar_top > .sidebar_avatar {
  object-fit: contain;
  height: 70px;
  width: 70px;
}
