.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgba(211, 211, 211, 0.733);
}
.post_comment {
  width: 80%;
  background-color: silver;
}
// .post_and_comment {
//   // border-top: 1px solid lightgray;
//   padding-bottom: 10px;
//   margin-bottom: 10px;
// }
.post_header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: flex-start;
}
.post_header > .post_logo {
  object-fit: contain;
  height: 70px;
  width: 70px;
}
.post_info {
  padding: 10px;
}
.post_info > h2 {
  font-size: 15px !important;
}
.post_info > p {
  color: gray;
  font-weight: 400;
  font-size: 12px;
}
.post_image {
  display: flex;
  margin: auto;
  margin-top: 5px;
  max-width: 100%;
  max-height: 80%;
  height: auto;
  border:0.3px solid lightgray;
  width: auto;
}
.MuiAvatar-img
{
  border:0.5px solid lightgray;
}
.post_image:hover {
  cursor: pointer;
}
// .image_modal {
//   padding: 0 !important;
// }
// .image_modal_body {
//   max-width: 100% !important;
//   max-height: 100% !important;
//   margin: 0 !important;
//   padding: 0 !important;
// }
.post_date {
  display: flex;
  align-items: center;
}
.post_date > .global {
  object-fit: contain;
  height: 14px;
  width: 14px;
}
.post_stats {
  display: flex;
  align-items: center;
}
.post_stats > p {
  color: gray;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}
.post_stats > p:hover {
  color: blue;
}
.post_buttons {
  display: flex;
  margin-top: 10px !important;
  justify-content: space-between;
  min-width: 90%;
  border-width: inherit;
  border-top: 1px solid lightgray;
  margin: auto;
}

.linkx {
  border-radius: 10px;
}
.comments-header {
  h4 {
    margin-left: 2vw;
  }
}
.toggleCommentButton {
  width: 100px;
  justify-content: flex-end;
  border-radius: 30px;
}
