.intro {
  background-image: url("./img/wave.svg");
  background-repeat: no-repeat;

  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw 0 10vw;
  height: 100vh;
  color: black;
}
.introText {
  width: 50vw;
  align-items: center;
  text-align: center;
  padding-left: 15%;
}

.intro .introText > h1 {
  text-align: center;
  font-size: 5vw;
  margin: 0 !important;
}
.partner_section {
  padding: 0 20px;
}

.imagery {
  outline: none;
}
.imagery:focus {
  outline: none;
}
.slide {
  outline: none;
}
.slide:focus {
  outline: none;
}

/*
  .slick-slide{
    margin: 0px 20px;
  }
  .slick-slide img {
    width:100%
  }
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus{
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  .slick-slider  .slick-track,
  .slick-slider   .slick-list{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .slick-track{
    position: relative;
    top:0;
    left:0;
    display: block;
  }
  .slick-track:before,
  .slick-track:after{
    display: table;
    content: '';
  }
  .slick-track::after{
    clear:both;
  }
  .slick-loading .slicki-track {
    visibility: hidden;
  }
  .slick-slide{
    display: none;
    float:left;
    height:100%;
    min-height: 1px;
  }
  [dir='rtl'] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img{
    pointer-events:none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display:none;
  }*/
