.head{
    background-color: white;
    margin: auto;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
    overflow: hidden;
    width: 100vw;
    box-sizing: border-box;
}
