.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.headerOption > h5 {
  font-weight: normal;
  display: flex;
  align-items: center;
}
.headerOption:hover,
.active {
  color: black;
  text-decoration: none;
}
.headerOption_icon {
  object-fit: contain;
  height: 30px !important;
  max-width: 30px !important;
}
