html {
  scroll-behavior: smooth;
}
.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.app_body {
  display: flex;
  width: 100%;
  overflow-x: auto;
  flex-grow: 1;
}
