.feed {
  flex: 0.6;
  margin: 0px 20px;
  padding-top: 10px;
}
.feed_inputContainer {
  width: 100%;
  padding: 10px 15px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.feed_input {
  border: 1px solid lightgray;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  color: gray;
  padding-left: 15px;
  background-color: white;
  cursor: pointer;
}
.feed_input > form {
  display: flex;
  width: 100%;
  cursor: pointer;
}
.feed_input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.feed_input > form > button {
  cursor: pointer;
  display: none;
}
.feed_inputOptions {
  display: flex;
  margin-top: 10px !important;
  justify-content: space-between;
  min-width: 80%;
  border-width: inherit;
  border-top: 1px solid lightgray;
  margin: auto;
}
.feed_PostContainer {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  width: 100%;
}
